
@media screen and (max-device-width: 600px){

body{
  font-size: 32px !important;
}

#menu {
  margin-top: 30px;
  /* margin-right: 3%; */
  /* text-align: center; */
  width: 80%;
  /* float:  center;  */
  font-size: 37px !important;
}

h1, h2, h3 {
  font-size: 38px !important;
}

#menu ul{
    margin-top:  20px;
}

#menu li{
  display:  inline-block;
  margin:  10px 0px 10px 0px;

}

#menu li:before {
content: '• ';
}

#menu li:first-child:before {
content: '• ';
}

#menu li:last-child:after {
content: ' •';
}

p{
   font-size: 36px !important;
}

#menu .title{
  display:  block;
  margin-bottom: 40px;
  margin-top: 40px;
}


#left {
  height: 1px;
  float: left;
  display: block;
  min-width: 0;
  overflow: hidden;
  /* width: 1%; */
  margin: 0;
  padding: 0;
}

.main {
  margin-top: 80px;
  float: left;
  width: 78%;
  font-size: 36px !important;
  /* margin-left: 10%; */
  /* margin-right: 2%; */
  line-height: 46px;
  border:none !important;
}

.main p, .main ul{
  line-height: 46px;
}

/*.main a{
  text-underline-offset: 3px;

}
*/
}



