
@media screen and (max-device-width: 600px){

.project-block{
  padding-top: 0px;
  padding-bottom: 0px;
}

body{
  font-size: 40px !important;
}

#menu {
  margin-top: 30px;
  /* margin-right: 3%; */
  text-align: center;
  width: 80%;
  float:left; 
  font-size: 36px !important;
  margin-left: 10%;
  margin-right: 2%;
  margin-bottom: 30px;
}

h1, h2, h3 {
  font-size: 38px !important;
}

#menu ul{
    margin-top:  20px;
}

#menu li{
  display:  inline-block;
  margin:  5px 0px 0 0px;

}

#menu li:before {
content: '•';
}

#menu li:first-child:before {
content: '•';
}

#menu li:last-child:after {
content: '•';
}

p{
   font-size: 36px !important;
}

#menu .title{
  font-size: 40px !important;
  display:  block;
  margin-bottom: 40px;
  margin-top: 40px;
}


#left {
  height: 1px;
  float: right;
  display: block;
  width: 5vw;
  overflow: hidden;
  /* width: 1%; */
  margin: 0;
  padding: 0;
}

.main {
  margin-top: 80px;
  float: left;
  width: 75vw;
  font-size: 3vmin !important;
  margin-left: 10%;
  margin-right: 2%;
  line-height: 46px;
  border:none !important;
  padding: 0 !important;
}

.main p, .main ul{
  line-height: 2rem;
}

.main ul {
  text-align:-webkit-match-parent;
}

.main li{
  text-align:-webkit-match-parent
}

sup, sub {
  vertical-align: baseline;
  position: relative;
  top: -0.4em;
}
sub { 
  top: 0.4em; 
}

ul li{
  line-height: 2rem;
}
}



