* {
  cursor: pointer;   
}
body {
  font-size:18px;
  /* background: var(--background, rgb(255, 140, 63)); */
  background: #f4f8ff;
  margin-top: 30px;
  margin-bottom:50px;
  font-weight: 600;
}

html ::-webkit-scrollbar { width: 0 !important }
html {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* IE 10+ */
}
 
 a{
  text-decoration: underline;
  color: #3877ff;
 }

a:hover{
  cursor: pointer;
  text-decoration: underline double;
  text-decoration-color: #2d2d2d;
  color: #2d2d2d !important;
}

html ::selection{
  background: #000000;
  color: #ffffff;
}

#menu {
  float: left;
  margin-top: 30px;
  margin-left: 20px;
  text-align: start;
  font-size: 21px;
  width: 150px;  
  line-height: 1.3em;
  font-weight: 600;
  font-family: 'Cormorant', serif;
}

#menu .title{
  font-family: 'Cormorant', serif;
  font-weight: 800;
  font-size: larger;
  text-decoration: underline;
  margin-bottom: 15px !important;
}


#menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#menu li a {
  display: inline-block;
  color:  var(--link, #0864c7);
}

#left {
  height: 1px;
  float: right;
  display: block;
  width: 10px;
  overflow: hidden;
  margin: 0;
  margin-left: 10vw;
  padding: 0;
}

.main {
  float:right;
  width: 50vw;
  /* border:medium dotted black; */
  /* padding-top: 5px; */
  /* padding-left: 100px; */
  /* padding-right: 20px; */
  margin: 30px;
  margin-top: 1px;
  margin-bottom: 10px;
  line-height: 1.3em;
  /* height: 90vh; */
  padding-right: 180px;
  /* overflow-y: scroll; */
  /* position:-webkit-sticky; */
}

.dot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  display:inline-block;
  margin: 2px;
  /* margin-right: 10px; */
}

.footer {
  margin-left: 0 !important;
}


h1, h2, h3 {
   line-height: 0.5em;
   font-family: 'Podkova', serif;
   font-size: larger;
  }

h1, h3{
  padding: 0px;
}

h1{
  font-size: x-large;
  text-decoration: underline;
}

h2{
  margin-top: 0.5em;
}

.special > * {
  color: var(--special, #3A6E35);
  text-decoration-color: var(--special, #3A6E35);
}

.special > *:hover {
  color: var(--special, #3A6E35);
  text-decoration-color: var(--special, #3A6E35);
}

.main p{
  line-height: 1.2em;
}

.main ul {
  line-height: 0.65em;
  text-align:-webkit-match-parent
}

.main li{
  margin: 0.65em;
  text-align:-webkit-match-parent
}

sup, sub {
  vertical-align: baseline;
  position: relative;
  top: -0.4em;
}
sub { 
  top: 0.4em; 
}

