body {
  font-size: 18px;
  background: var(--background, white);
  margin-top: 30px;
  margin-bottom:50px;
  font-weight: 600;
}

html ::-webkit-scrollbar { width: 0 !important }
html {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* IE 10+ */
}
 
 a{
  text-decoration: underline;
  color: #3877ff;
 }

a:hover{
  cursor: pointer;
  text-decoration: underline double;
  text-decoration-color: darkorange;
  color: darkorange !important;
}

#menu {
  float: right;
  margin-top: 10px;
  margin-right: 10px;
  text-align: end;
  font-size: 19px;
  width: 150px;  
  line-height: 1.2em;
  font-weight: 400;
  font-family: 'Podkova', serif;
}

#menu .title{
  font-family: 'Caveat', cursive;
  font-weight: 600;
  font-size: larger;
  text-decoration: underline;
}

#menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#menu li a {
  display: inline-block;
  color:  var(--link, #0864c7);
}

#left {
  height: 1px;
  float: left;
  display: block;
  min-width: 0;
  overflow: hidden;
  margin: 0;
  margin-left: 150px;
  padding: 0;
}

.main {
  float: left;
  width: 50vw;
  border:medium dotted black;
  padding-top: 5px;
  padding-left: 40px;
  padding-right: 20px;
  margin: 10px;
  line-height: 1.2em;
  height: 90vh;
  overflow-y: scroll;
  position:-webkit-sticky;
}

.dot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  display:inline-block;
  margin: 2px;
  /* margin-right: 10px; */
}

.footer {
  margin-left: 0 !important;
}


h1, h2, h3 {
   line-height: 0.5em;
   font-family: 'Podkova', serif;
   font-size: larger;
  }

h1, h3{
  padding: 0px;
}

h1{
  font-size: x-large;
  text-decoration: underline;
}

h2{
  margin-top: 0.5em;
}

.special > * {
  color: var(--special, #3A6E35);
  text-decoration-color: var(--special, #3A6E35);
}

.special > *:hover {
  color: var(--special, #3A6E35);
  text-decoration-color: var(--special, #3A6E35);
}

.main p{
  line-height: 1.2em;
}

.main ul {
  line-height: 0.65em;
  text-align:-webkit-match-parent
}

.main li{
  margin: 0.65em;
  text-align:-webkit-match-parent
}

sup, sub {
  vertical-align: baseline;
  position: relative;
  top: -0.4em;
}
sub { 
  top: 0.4em; 
}

