@font-face {
    font-family: 'F25';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('../static/fonts/f25-executive.ttf') format('truetype') 
  }

  @font-face {
    font-family: 'ag';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('../static/fonts/AppleGaramond.woff2') format('woff2'), 
  }